---
---

<span class="mark tl"><svg viewBox="0 0 16 16"><path d="M1 8H8V1" fill="none" stroke-width="1.4"></path></svg></span>
<span class="mark tr"><svg viewBox="0 0 16 16"><path d="M1 8H8V1" fill="none" stroke-width="1.4"></path></svg></span>
<span class="mark bl"><svg viewBox="0 0 16 16"><path d="M1 8H8V1" fill="none" stroke-width="1.4"></path></svg></span>
<span class="mark br"><svg viewBox="0 0 16 16"><path d="M1 8H8V1" fill="none" stroke-width="1.4"></path></svg></span>
